:root {
  --nav-bg-color: black;
  --nav-text-color:white;

  --footer-bg-color: black;
  --footer-text-color: white;
  --nav-li-active-bg-color:brown;
}

* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}


nav {
  
  color: var(--nav-text-color);
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;


width: 100%;

 

}
.NavLink{
  text-decoration: none;
  color: var(--nav-text-color);
}

nav li{
  
  list-style: none;
  padding: 20px 10px 20px 10px;
 
 
}

nav li.active{
  background-color: var(--nav-li-active-bg-color);
height: 45%;

}

nav li:hover {
  background-color: #f1ac88ff;
  color: rgb(22, 19, 19);
  transition: 0.8s;
height: 45%;
  
 
}
nav > ul {
  padding-right: 15px;
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
nav > ul > li {
  list-style: none;
}

nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav > div > h1
 {
  padding: 0px 10px 0px 0px;

}


.navimg{
  width: 80px;
}
.home-footer {
  text-align: center;
  padding: 10px 0 10px 0;
  width: 100%;
  position: relative;
  

  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  bottom: 0;
}
